@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add global styles */
body {
  background-color: #121212; /* Dark mode background */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
